.gallery{
    position: relative;

}
.gallery_wrapper{
    column-count: 4;
    margin: 0 auto;
    max-width: 1200px;
}
.gallery_item figure{
    width: 100%;
    
}
figure img{
    width: 100%;
}
.gallery_item{
    break-inside: avoid;
    margin-bottom: 16px;
}