:root{
    --logo-size: 90px;
}

@keyframes button_color-change {
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}



.three-collumn{

    position: relative;
    top: 250px;
    margin-inline:calc(var(--logo-size)/2) ;
    display: flex;
    gap:calc(var(--logo-size)/2);
    justify-content: space-around;

    perspective: 1000px;

    .button_slice{
        transition: 0.5s ease;
        background: rgb(8,113,64);
background: linear-gradient(232deg, rgba(8,113,64,1) 0%, rgba(7,128,64,1) 11%, rgba(0,130,52,1) 22%, rgba(1,138,10,1) 38%, rgba(177,214,0,1) 61%, rgba(208,199,4,1) 74%, rgba(187,167,12,1) 88%, rgba(163,143,11,1) 100%);

        /* animation: button_color-change 2s ease infinite; */
        background-size: 230%;
        background-position: 100%;
    }
    .button_slice:hover{
        transition: background-position 0.5s ease;
        background-position: 0%;

    }
}
.card {
    min-width: 100px;
    padding: calc(var(--logo-size)/5);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--logo-size)/3);
    border-radius: 5vh;
    background-color: rgba(36, 70, 55, 0.656);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transform: rotateX(0deg);
    transition: 0.5s ease-out;
}

.card:hover {
    transition: 0.2s ease-out;
    transform: scale3d(1, 1, 1) rotateX(5deg) translateZ(calc(var(--logo-size)/2));
    box-shadow: 5px 16px 30px rgba(0, 0, 0, 0.424);
}

.card .icon {
    width: var(--logo-size);
    height: var(--logo-size);
}

.card h3, .card p {
    text-align: center;
    margin: 0;
    font-size: 1.5vw;
}

.card h3 {
    font-size: 3.5vw;
}